# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=logmonitor
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme_em_prod

# Flask
FLASK_PORT=5001
LOG_FILE=logs/app.log

# Dashboard
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=admin
DASHBOARD_REFRESH_SECONDS=30
PROMETHEUS_URL=http://localhost:9090
